<div class="section py-5">
    <div class="container">
        <h1 class="base-color mat-display-2 text-center">Contact Us</h1>

        <div class="form-holder">
            <form action="" class="p-3 border">
                <mat-form-field class="d-block" appearance="outline">
                    <mat-label>Enter your name</mat-label>
                    <input matInput type="text" placeholder="your name" required>
                </mat-form-field>
                <mat-form-field class="d-block" appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput type="email" placeholder="pat@example.com" required>
                </mat-form-field>
                <mat-form-field class="d-block" appearance="outline">
                    <mat-label>Enter your mobile</mat-label>
                    <input matInput type="number" placeholder="your mobile" required>
                </mat-form-field>                
                <mat-form-field class="d-block" appearance="outline">
                    <mat-label>Your Message</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div class="text-center">
                    <button mat-button class="btn text-white rounded-pill py-2 px-5 base-bg hover-invers hvr-skew">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>