<!-- breadcrumb   -->
<nav aria-label="breadcrumb">
    <div class="container px-0">
        <ol class="breadcrumb bg-white px-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product Details</li>
        </ol>
    </div>
</nav>


<div class="product-details-holder">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8">
                <app-product-details-carousel></app-product-details-carousel>
                <div class="video-holder" class="position-relative">
                    <img src="../../../assets/images/category2.jpg" class="" alt="">
                    <i class="fas fa-play-circle position-absolute base-color fa-4x"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h2>product name</h2> 
                    <i class="far fa-heart fa-2x base-color"></i>
                </div>
                <div class="description">
                    <p class="text-muted ">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, veritatis enim harum iure atque facilis dolores nemo veniam neque quasi cum sed numquam tenetur aliquid similique alias labore doloremque. Facilis?
                    </p>
                </div>
                <h2 class="price base-color ">125.00 SAR</h2>

                <div class="size mb-3">
                    <button mat-button [matMenuTriggerFor]="menu" class="w-100 bg-light text-left py-2">
                        Product Size 
                        <i class="fas fa-chevron-right float-right"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item>Size 1</button>
                    <button mat-menu-item>Size 2</button>
                    <button mat-menu-item>Size 3</button>
                    </mat-menu>
                </div>

                <div class="finish mb-3">
                    <button mat-button [matMenuTriggerFor]="menu" class="w-100 bg-light text-left py-2">
                        Finish color 
                        <i class="fas fa-chevron-right float-right"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item>Brown Finish</button>
                    <button mat-menu-item>Green Finish</button>
                    <button mat-menu-item>Red Finish</button>
                    </mat-menu>
                </div>

                <div class="color">
                    <p>
                        <mat-button-toggle-group name="fontStyle" class="py-3" aria-label="Font Style">
                            <mat-button-toggle class="rounded-circl position-relative" value="brown"></mat-button-toggle>
                            <mat-button-toggle class="rounded-circl position-relative" value="green"></mat-button-toggle>
                            <mat-button-toggle class="rounded-circl position-relative" value="red"></mat-button-toggle>
                        </mat-button-toggle-group>
                    </p>
                </div>
                <div class="btns-holder">
                    <a routerLink="../checkout" mat-button 
                    class="btn text-white rounded-pill mb-3 d-block py-2 px-5 base-bg hover-invers hvr-skew text-uppercase">Buy Now</a>
                    <a  mat-button 
                    class="btn base-color add-to-cart border-base mb-3 rounded-pill d-block py-2 px-5 hvr-skew text-uppercase">Add to Cart</a>
                </div>


            </div>
        </div>

        <div class="product-info pb-5">
            <h2 class="pb-3">Product Information</h2>

            <div class="table-holder">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><h3>Price:</h3></td>
                            <td>152.00 SAR</td>
                        </tr>
                        <tr>
                            <td><h3>Materials:</h3></td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1">Cotton</li>
                                    <li class="mb-1">Billow</li>
                                    <li class="">Lorem</li>
                                </ul>
                        </td>
                        </tr>
                        <tr>
                            <td><h3>Dimensions:</h3></td>
                            <td>52 X 50 X 88 cm.</td>
                        </tr>
                        <tr>
                            <td><h3>Category:</h3></td>
                            <td>Bedroom</td>
                        </tr>
                        <tr>
                            <td><h3>finish:</h3></td>
                            <td>Bamboo</td>
                        </tr>
                        <tr>
                            <td><h3>Style:</h3></td>
                            <td>Modern</td>
                        </tr>
                        <tr>
                            <td><h3>Availability:</h3></td>
                            <td>In stock</td>
                        </tr>
                        <tr>
                            <td><h3>Color:</h3></td>
                            <td>white</td>
                        </tr>
                        <tr>
                            <td><h3>Warranty:</h3></td>
                            <td>6 Months</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>