<!-- our services -->
<div class="services py-4">
  <div class="container">
    <h2 class="base-color text-center mb-4 mobile-titles">Our Services</h2>
    <div class="row text-center">
      <div class="col-4 mb-3">
        <div class="icon-holder">
          <img
            class="m-auto"
            src="assets/images/Icons/Fast Delivery.svg"
            alt=""
          />
        </div>
        <h3 class="base-color text-center">Fast Delivery</h3>
      </div>
      <div class="col-4 mb-3">
        <div class="icon-holder">
          <img
            class="m-auto"
            src="assets/images/Icons/24 Hours Service.svg"
            alt=""
          />
        </div>
        <h3 class="base-color text-center">24 Hours Service</h3>
      </div>
      <div class="col-4 mb-3">
        <div class="icon-holder">
          <img
            class="m-auto"
            src="assets/images/Icons/Great Quality.svg"
            alt=""
          />
        </div>
        <h3 class="base-color text-center">Grate Quality</h3>
      </div>
    </div>
  </div>
</div>
