<div class="privacy-holder py-5">
    <div class="container">
        <h2 class="mb-3">Privacy Policy</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! consectetur adipisicing elit. Quia
            laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! consectetur adipisicing elit. Quia
            laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo!
        </p>
        <p>
            consectetur adipisicing elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quia laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            laudantium assumenda in nesciunt repellendus natus consequuntur, vero provident quos ad odit architecto sunt molestiae aspernatur maxime aperiam, placeat dolorum nemo!
        </p>

    </div>
</div>
