<div class="product-card p-3 mb-3 rounded-sm">
    <div class="row h-100">
        <div class="col-3">
            <div class="product-header text-end">
                <img src="../../../assets/images/PNG content/Layer 7.png" class="" alt="">
            </div>
        </div>
        <div class="col-9">
            <div class="product-footer h-100">
                <div class="row align-items-center h-100">
                    <div class="col-8 pr-0 h-100 d-flex justify-content-around flex-column">
                        <h3 class="status text-success mb-0">Completed</h3>
                        <p class="text-muted mb-0">Cobalt Union</p>
                        <a>
                            <h4 class="text-black font-weight-bold mb-0 text-truncate">
                                Merry's cat Eye Sunglasses
                            </h4>
                        </a>
                    </div>
                    <div class="col-4 pl-0 text-right h-100 d-flex align-items-center justify-content-around flex-column">
                        <h4 class="text-muted">21 Feb, 2021</h4>
                        <h3 class="base-color font-weight-bold">125.00 SAR</h3>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

