<div  [routerLink]="['/product-details']" class="product-card p-3 mb-3 rounded-sm">
    <div class="product-header text-center">
        <img src="../../../assets/images/PNG content/Layer 7.png" class="" alt="">
    </div>
    <div class="product-footer">
        <div class="row align-items-center">
            <div class="col-8 pr-0">
                <p class="text-muted mb-1">Cobalt Union</p>
                <a [routerLink]="['/product-details']">
                    <h4 class="text-black font-weight-bold text-truncate">
                        Merry's cat Eye Sunglasses
                    </h4>
                </a>
                <h5 class="base-color font-weight-bold">125.00 SAR</h5>
            </div>
            <div class="col-4 pl-0 text-right">
                <a href="#" mat-button
                class="btn text-white rounded-pill py-1 px-2 base-bg hover-invers hvr-skew small-txt">
                Add to Basket
            </a>
            </div>
        </div>
    </div>
</div>
