<ngx-slick-carousel id="categories-slider" class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let category of categories" class="slide position-relative">
    <a (click)="deatilsCategory(category.catNo)">
        <img src="{{ category.images[0]?.imgPath }}" alt="Photo of {{category.categoryName}}" (error) ="onImgError($event)" class="h-100" width="100%">
    </a>
    <h3 class="position-absolute text-white hvr-float">
        <a (click)="deatilsCategory(category.catNo)"  class="hover-base-color text-white">{{category.catNameEn}}</a>
    </h3>
</div>
</ngx-slick-carousel>

