::ng-deep #categories-slider .slick-next,
::ng-deep #categories-slider .slick-prev {
  position: absolute;
  background-color: var(--base-color) !important;
  color: #fff !important;
  top: 108% !important;
  right: 4% !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

::ng-deep #categories-slider .slick-prev {
  left: 90% !important;
}

::ng-deep #categories-slider .slick-prev,
::ng-deep #categories-slider .slick-next {
  width: 35px !important;
  height: 35px !important;
}

::ng-deep #categories-slider .slick-slide {
  height: 400px;
}

::ng-deep #categories-slider .slide::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  position: absolute;
}

::ng-deep #categories-slider .slide h3 {
  bottom: 0;
  left: 20px;
  z-index: 1000;
}

@media (max-width: 568px) {
  ::ng-deep #categories-slider .slick-prev {
    left: 70% !important;
  }
  ::ng-deep #categories-slider .slick-next {
    right: 5% !important;
  }
}
