<!-- <p> -->

    <style>
        ::ng-deep .mat-menu-panel{
    max-width: inherit !important;
}

::ng-deep #mat-menu-panel-0{
    width: 400px !important; 
    text-align: center !important;
    max-height: 580px;
    padding: 1.5rem;
}

::ng-deep #mat-menu-panel-0 .cart-products{
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

::ng-deep #mat-menu-panel-0 .cart-products::-webkit-scrollbar {
    background: #82413778;
    width: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::ng-deep #mat-menu-panel-0 .cart-products::-webkit-scrollbar-thumb {
    background-color: var(--base-color);
    width: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cart-item-holder{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.cart-item-holder::after{
    content: " ";
    position: absolute;
    bottom: 0;
    width: 70%;
    border: 1px solid #ccc;
    height: 1px;
    left: 15%;
}


.cart-item{
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item-info {
    width: 70% !important;
}

.cart-item img{
    width: 30% !important;
}

.cart-item a.position-absolute{
    top: 0;
    right: 3px;
    cursor: pointer;
}

::ng-deep #mat-menu-panel-0 button.mat-menu-item{
    padding-left:0 !important ;
    padding-right:0 !important ;
    margin-bottom: 5px !important;
    border: 1px solid var(--base-color);
    border-radius: 5px;
}


@media (max-width: 768px){
    ul.navbar-nav.ml-auto {
        flex-direction: row;
        flex-wrap: wrap;
    }
    ul.navbar-nav a.nav-link{
        text-align: start !important;
    }
}
    </style>

    <header class="example-header bg-white d-block pt-3">
        <nav class="navbar navbar-expand-lg bg-white justify-content-between py-3 position-relative w-100">
            <div class="container">
                <a class="navbar-brand" href="#" mat-button>
                    <img src="../assets/images/logo.png" class="h-100" alt="">
                </a>
                <button class="navbar-toggler ml-auto border-base" mat-button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars base-color"></i>
                </button>
                <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <div class="input-group border rounded-lg overflow-hidden">
                            <input type="text" class="form-control border-0" placeholder="Search for products">
                            <div class="input-group-append">
                                <span class="base-bg"><button mat-button class="btn rounded-lg text-white">Search</button></span>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active mx-2 pr-2">
                            <button mat-icon-button [matMenuTriggerFor]="cart" 
                                aria-label="Example icon-button with a menu">
                                <a mat-button
                                    routerLinkActive="active" 
                                    style="font-family: 'Anton', sans-serif; font-size: 23px">
                                    <i style="font-size: 23px" class="fas fa-cart-plus" 
                                    [matBadge]="5" matBadgeOverlap="false" 
                                    matBadgePosition="above" 
                                    matBadgeSize="medium" 
                                    matBadgeColor="warn">
                                    </i>
                                </a>
                            </button>
                            <mat-menu #cart="matMenu" id="cart-dropdown">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="text-dark">Total (9 Items)</h4>
                                    <h4 class="base-color font-weight-bold">7,123.99 SAR</h4>
                                </div>
                                <p class="text-left"><a href="" class="base-color font-weight-bold">Clear All</a>                                    </p>
                                <div class="cart-products">
                                    <div class="cart-item-holder position-relative">
                                        <div class="cart-item position-relative" [routerLink]="['/product-details']">
                                            <a [routerLink]="['/product-details']"  mat-menu-item class="d-flex h-100 p-0 align-items-center justify-content-between">
                                                <img src="../../../assets/images/PNG content/7.png" 
                                                class="rounded-lg h-100" alt="">
                                                <div class="cart-item-info px-3">
                                                    <div class="d-flex w-100 pt-3 align-items-center justify-content-between">
                                                        <p class="text-dark m-0">Cyrusshare</p>
                                                        <p class="base-color m-0 font-weight-bold">7,123.99 SAR</p>
                                                    </div>
                                                        <p class="m-0 pb-3">Type: 
                                                            <a [routerLink]="['/category-details']" 
                                                            class="small text-muted font-weight-bold">
                                                            SAVA DECK300 MOUNTAIN
                                                        </a>
                                                    </p>        
                                                </div>
                                            </a>
                                            <a class="position-absolute">
                                                <i class="fas fa-times text-danger"></i>
                                            </a>   
                                        </div>    
                                    </div>
                                    <div class="cart-item-holder position-relative">
                                        <div class="cart-item position-relative" [routerLink]="['/product-details']">
                                            <a [routerLink]="['/product-details']"  mat-menu-item class="d-flex h-100 p-0 align-items-center justify-content-between">
                                                <img src="../../../assets/images/PNG content/7.png" 
                                                class="rounded-lg h-100" alt="">
                                                <div class="cart-item-info px-3">
                                                    <div class="d-flex w-100 pt-3 align-items-center justify-content-between">
                                                        <p class="text-dark m-0">Cyrusshare</p>
                                                        <p class="base-color m-0 font-weight-bold">7,123.99 SAR</p>
                                                    </div>
                                                        <p class="m-0 pb-3">Type: 
                                                            <a [routerLink]="['/category-details']" 
                                                            class="small text-muted font-weight-bold">
                                                            SAVA DECK300 MOUNTAIN
                                                        </a>
                                                    </p>        
                                                </div>
                                            </a>
                                            <a class="position-absolute">
                                                <i class="fas fa-times text-danger"></i>
                                            </a>   
                                        </div>    
                                    </div>
                                    <div class="cart-item-holder position-relative">
                                        <div class="cart-item position-relative" [routerLink]="['/product-details']">
                                            <a [routerLink]="['/product-details']"  mat-menu-item class="d-flex h-100 p-0 align-items-center justify-content-between">
                                                <img src="../../../assets/images/PNG content/7.png" 
                                                class="rounded-lg h-100" alt="">
                                                <div class="cart-item-info px-3">
                                                    <div class="d-flex w-100 pt-3 align-items-center justify-content-between">
                                                        <p class="text-dark m-0">Cyrusshare</p>
                                                        <p class="base-color m-0 font-weight-bold">7,123.99 SAR</p>
                                                    </div>
                                                        <p class="m-0 pb-3">Type: 
                                                            <a [routerLink]="['/category-details']" 
                                                            class="small text-muted font-weight-bold">
                                                            SAVA DECK300 MOUNTAIN
                                                        </a>
                                                    </p>        
                                                </div>
                                            </a>
                                            <a class="position-absolute">
                                                <i class="fas fa-times text-danger"></i>
                                            </a>   
                                        </div>    
                                    </div>    
                                </div>
                                <button mat-menu-item>
                                    <a mat-button routerLink="/cart" class="btn view-cart d-block w-100 px-0 border-base base-color py-2 px-2 bg-white hover-invers
                                    small-txt">
                                        View Cart
                                    </a>            
                                </button>
                                <button mat-menu-item>
                                    <a mat-button routerLink="/checkout" class="btn checkout d-block w-100 px-0 text-white py-2 px-2 base-bg hover-invers
                                    small-txt">
                                        Checkout
                                    </a>            
                                </button>
                            </mat-menu>
                        </li>
                        <li class="nav-item base-color mx-2" *ngIf="!this.authService.isLoggedIn()">
                            <a routerLink="/auth/login" mat-button>
                            Login
                            </a>
                        </li>
                        <li class="nav-item base-color mx-2"  *ngIf="!this.authService.isLoggedIn()">
                            <a routerLink="/auth/signup" mat-button>
                                Register
                            </a>
                        </li>
                        <li class="nav-item dropdown mx-2"  *ngIf="this.authService.isLoggedIn()">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <img src="../assets/images/avatar.jpg" class="rounded-circle" width="35px" height="35px" alt="">
                            </button>
                            <mat-menu #menu="matMenu">
                                <a mat-menu-item>
                                    <span [routerLink]="['/profile']">Your Profile</span>
                                </a>
                                <button mat-menu-item>
                                    <span>Account Setting</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Logout</span>
                                </button>
                            </mat-menu>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <div class="container">
                <button mat-button class="navbar-toggler ml-auto border-base" type="button" data-toggle="collapse" data-target="#navbarSupportedMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars base-color"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedMenu">
                    <ul class="navbar-nav m-auto pt-2 pt-md-0">
                        <li class="nav-item active">
                            <a mat-button class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" [routerLink]="['/shop']">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" [routerLink]="['/about']">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" [routerLink]="['/contact']">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>    
</header>    


<router-outlet></router-outlet>
<app-footer></app-footer>