<mat-toolbar class="example-header bg-white d-block p-0">
    <nav class="navbar navbar-expand-lg bg-white justify-content-between py-3 position-relative w-100">
        <div class="container">
            <a class="navbar-brand" href="#" mat-button><img src="../assets/images/logo.png" class="h-100" alt=""></a>
            <button class="navbar-toggler ml-auto border-base" mat-button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars base-color"></i>
            </button>
            <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <div class="input-group border rounded-lg overflow-hidden">
                        <input type="text" class="form-control border-0" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="base-bg"><button mat-button class="btn rounded-lg text-white">Search</button></span>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mr-2">
                        <a mat-button routerLink="/cart" routerLinkActive="active" style="font-family: 'Anton', sans-serif; font-size: 23px">
                            <i style="font-size: 23px" class="fas fa-cart-plus" [matBadge]="5" matBadgeOverlap="false" matBadgePosition="above" matBadgeSize="medium" matBadgeColor="warn"></i>
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a href="" mat-button>
                        Login
                      </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a href="" mat-button>
                      Register
                    </a>
                    </li>
                    <li class="nav-item dropdown">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <img src="../assets/images/avatar.jpg" class="rounded-circle" width="35px" height="35px" alt="">
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span>Your Profile</span>
                            </button>
                            <button mat-menu-item>
                                <span>Account Setting</span>
                            </button>
                            <button mat-menu-item>
                              <span>Logout</span>
                          </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button mat-button class="navbar-toggler ml-auto border-base" type="button" data-toggle="collapse" data-target="#navbarSupportedMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars base-color"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedMenu">
                <ul class="navbar-nav m-auto pt-2 pt-md-0">
                    <li class="nav-item active">
                        <a mat-button class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a mat-button class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a mat-button class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a mat-button class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</mat-toolbar>

<mat-toolbar class="example-footer mt-4 bg-white pt-md-4">
    <div class="container py-4 border-bottom">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h5 class="base-color mb-3">About La MADERAS</h5>
                <p class="text-muted small mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ea recusandae velit dolores exercitationem, reiciendis nesciunt consequuntur voluptates dolor ab fugiat consequatur itaquei!
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <h5 class="base-color mb-3">Get to Know Us</h5>
                <ul class="list-unstyled">
                    <li><a href="" mat-button class="text-muted hover-base-color">About</a></li>
                    <li><a href="" mat-button class="text-muted hover-base-color">Policies</a></li>
                    <li><a href="" mat-button class="text-muted hover-base-color">Careers</a></li>
                    <li><a href="" mat-button class="text-muted hover-base-color">Press</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5 class="base-color mb-3">Follow Us</h5>
                <ul class="list-unstyled small">
                    <li class="mb-2">
                        <a href="" mat-button class="text-muted hover-base-color d-flex align-items-center"><img src="../assets/images/Icons/facebook.svg" class="mr-2" alt=""> Facebook</a>
                    </li>
                    <li class="mb-2">
                        <a href="" mat-button class="text-muted hover-base-color"><img src="../assets/images/Icons/twitter.svg" class="mr-2" alt="">Twitter</a>
                    </li>
                    <li class="mb-2">
                        <a href="" mat-button class="text-muted hover-base-color"><img src="../assets/images/Icons/instgram.svg" class="mr-2" alt="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5 class="base-color mb-3">Newsletter</h5>
                <span class="d-block text-muted small">Sign up for newsletter and get 10% offer</span>
                <form action="" class="newsletter ">
                    <input type="text" class="border-bottom border-0 my-3" placeholder="E-mail">
                    <button mat-button class="btn btn-sm text-white rounded-lg  base-bg hover-invers hvr-skew">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright">
            <p class="base-color text-center mb-0">&copy; 2021 La Maderas</p>
        </div>
    </div>
</mat-toolbar>