
        <!-- signup -->
        <div class="tab-pane fade show active w-75 m-auto" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form [formGroup]="registrationForm" (ngSubmit)="register()" class="login-form text-center py-4" id="signup-form" novalidate>
                <mat-form-field appearance="outline" 
                class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input type="text" class="rounded-pill form-control m-auto" 
                    placeholder="Email or Username" 
                    formControlName="username" matInput 
                    id="username" name="username" 
                    required>
                </mat-form-field>
                <mat-form-field appearance="outline" 
                class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input type="number" class="rounded-pill form-control m-auto" 
                    placeholder="Enter your mobile number" 
                    formControlName="mobile" matInput 
                    id="mobile" name="username" 
                    required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input class="rounded-pill form-control m-auto" 
                    placeholder="Password" formControlName="password"
                    matInput id="password" [type]="showPass ? 'password': 'text'"
                    name="password" type="text" required>
                    <button type="button" mat-icon-button matSuffix (click)="showPass = !showPass"
                    [attr.aria-label]="'Hide password'">
                        <mat-icon>{{showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>    
                <mat-form-field appearance="outline" class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input class="rounded-pill form-control m-auto" 
                    placeholder="Password" formControlName="password"
                    matInput id="confirm-password" [type]="showPass ? 'password': 'text'"
                    name="password" type="text" required>
                </mat-form-field>    

                <div class="submit-holder w-75 m-auto text-center">
                    <button mat-button  class="btn text-white rounded-pill py-2 px-5 base-bg hover-invers hvr-skew">
                        Sign up
                    </button>
                </div>
            </form>
        </div>


<ng-template #invalidCredentials>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Invalid Credentials
        </h4>
        <button type="button" (click)="hide()" class="close pull-right" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="alert alert-danger" role="alert">
            Either Username or Password are incorrect!!
        </div>
        <button type="button" class="btn btn-danger" (click)="authCredentialsDto.reset(); hide()">
            Try Again!
        </button>
    </div>
</ng-template>
