<div class="modal-body p-0 w-50 m-auto border">
    <!-- Tabs content -->
    <nav>
        <div class="nav nav-tabs nav-fill border-bottom-0" id="nav-tab" role="tablist">
            <a class="nav-item nav-link px-3 py-4" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Sign in</a>
            <a class="nav-item nav-link px-3 py-4 active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sign up</a>
        </div>
    </nav>
    <div class="tab-content py-3 px-3 text-center" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form action="" class="login-form text-center py-4" id="login-form">
                <div class="form-group mb-4 text-center">
                    <input type="text" class="rounded-pill form-control w-75 m-auto" placeholder="Email or Username">
                </div>
                <div class="form-groupmb-4 text-center">
                    <input type="password" class="rounded-pill form-control w-75 m-auto" placeholder="Password">
                </div>
                <div class="forget-password-holder py-3 w-75 m-auto d-flex align-items-center justify-content-between">
                    <a href="#" class="text-muted">Forget Password?</a>
                    <div class="form-group mb-0">
                        <input type="checkbox" name="" id="remember" class="">
                        <label for="remember" class="text-muted pointer">Remember me</label>
                    </div>
                </div>
                <div class="submit-holder w-75 m-auto text-left">
                    <button class="btn text-white rounded-pill py-2 px-5 base-bg hover-invers hvr-skew">Login</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form action="" class="login-form text-center py-4" id="login-form">
                <div class="form-group mb-4 text-center">
                    <input type="email" class="rounded-pill form-control w-75 m-auto" placeholder="Enter your email">
                </div>
                <div class="form-group mb-4 text-center">
                    <input type="number" class="rounded-pill form-control w-75 m-auto" placeholder="Enter your mobile number">
                </div>
                <div class="form-group mb-4 text-center">
                    <input type="password" class="rounded-pill form-control w-75 m-auto" placeholder="Enter your password">
                </div>
                <div class="form-group mb-4 text-center">
                    <input type="password" class="rounded-pill form-control w-75 m-auto" placeholder="Confirm your password">
                </div>
                <div class="submit-holder w-75 m-auto text-left">
                    <button class="btn text-white rounded-pill py-2 px-5 base-bg hover-invers hvr-skew">Sign up</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Tabs content -->
</div>
