
        <!-- signup -->
        <div class="tab-pane fade show active w-75 m-auto" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form [formGroup]="registrationForm" (ngSubmit)="register()" class="login-form text-center py-4" id="signup-form" novalidate>
                <mat-form-field appearance="outline" 
                class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input type="text" class="rounded-pill form-control m-auto" 
                    placeholder="Enter your Name" 
                    formControlName="custName" matInput 
                    id="custName" name="custName" 
                    required
                    [ngClass]="{ 'is-invalid': submitted && f.custName.errors }">
                    <mat-error *ngIf="submitted && f.custName.errors && f.custName.errors!.required">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="submitted && f.custName.errors && f.custName.errors!.minLength">
                        Length of Name should be more than 8 character
                    </mat-error>
                    <mat-error *ngIf="f.custName.errors?.serverError" class="invalid-feedback">
                        {{ f.custName.errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" 
                class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input type="email" class="rounded-pill form-control m-auto" 
                    placeholder="Enter your email" 
                    formControlName="custEmail" matInput 
                    id="custEmail" name="custEmail" 
                    required
                    [ngClass]="{ 'is-invalid': submitted && f.custEmail.errors }">
                    <mat-error *ngIf="submitted && f.custEmail.errors && f.custEmail.errors!.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="f.custEmail.errors?.serverError" class="invalid-feedback">
                        {{ f.custEmail.errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input class="rounded-pill form-control m-auto" 
                    placeholder="Password" formControlName="custPassword"
                    matInput id="custPassword" [type]="showPass ? 'password': 'text'"
                    name="custPassword" type="text" required
                    [ngClass]="{ 'is-invalid': submitted && f.custPassword.errors }">
                    <button type="button" mat-icon-button matSuffix (click)="showPass = !showPass"
                    [attr.aria-label]="'Hide password'">
                        <mat-icon>{{showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="submitted && f.custPassword.errors && f.custPassword.errors!.required">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="submitted && f.custPassword.errors && f.custPassword.errors!.minLength">
                        Length of Password should be more than 8 character
                    </mat-error>
                    <mat-error *ngIf="f.custPassword.errors?.serverError" class="invalid-feedback">
                        {{ f.custPassword.errors?.serverError }}
                    </mat-error>
                </mat-form-field>    
                <mat-form-field appearance="outline" class="form-group mb-4 d-block m-auto text-center rounded-pill" 
                style="width: 75%">
                    <input class="rounded-pill form-control m-auto" 
                    placeholder="Password" formControlName="confirmCustPassword"
                    matInput id="confirmCustPassword" [type]="showPass ? 'password': 'text'"
                    name="confirmCustPassword" type="text" required
                    [ngClass]="{ 'is-invalid': submitted && f.confirmCustPassword.errors }">
                    <mat-error *ngIf="submitted && f.confirmCustPassword.errors && f.confirmCustPassword.errors!.required">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="submitted && f.confirmCustPassword.errors && f.confirmCustPassword.errors!.notEquivalent">
                        passwords don't match
                      </mat-error>
                    <mat-error *ngIf="f.confirmCustPassword.errors?.serverError" class="invalid-feedback">
                        {{ f.confirmCustPassword.errors?.serverError }}
                    </mat-error>
                </mat-form-field>    

                <div class="submit-holder w-75 m-auto text-center">
                    <button mat-button  class="btn text-white rounded-pill py-2 px-5 base-bg hover-invers hvr-skew">
                        Sign up
                    </button>
                </div>
            </form>
        </div>


<!-- <ng-template #invalidCredentials>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Invalid Credentials
        </h4>
        <button type="button" (click)="hide()" class="close pull-right" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="alert alert-danger" role="alert">
            Either Username or Password are incorrect!!
        </div>
        <button type="button" class="btn btn-danger" (click)="authCredentialsDto.reset(); hide()">
            Try Again!
        </button>
    </div>
</ng-template> -->
