  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-card p-4">
          <div class="profile-img position-relative rounded-circle p-2">
            <img src="../../../assets/images/PNG content/profile-pic.png" alt="">
            <form action="">
              <input type="file" class="d-none" name="profile-pic" id="profile-pic">
              <label for="profile-pic">
                <mat-icon matTooltip="Change profile picture"
                aria-hidden="false" color="primary" aria-label="Example camera_enhance icon">
                  camera_enhance
                </mat-icon>
              </label>
            </form>
          </div>
          <ul class="nav nav-tabs flex-column" id="profile-tabs" role="tablist">
            <li class="nav-item text-center" role="presentation">
              <a href="#orders" class="active nav-link" aria-controls="orders" role="tab" data-toggle="tab">
                My Orders
              </a>
            </li>
            <li class="nav-item text-center" role="presentation">
              <a href="#tracking" class="nav-link" aria-controls="tracking" role="tab" data-toggle="tab">
                Tracking Order
              </a>
            </li>
            <li class="nav-item text-center" role="presentation">
              <a href="#favourite" class="nav-link" aria-controls="favourite" role="tab" data-toggle="tab">
                My Favourite List
              </a>
            </li>
            <li class="nav-item text-center" role="presentation">
              <a href="#edit" class="nav-link" aria-controls="edit" role="tab" data-toggle="tab">
                Edit Account
              </a>
            </li>       
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="orders">
            <app-product-card-full-width></app-product-card-full-width>
            <app-product-card-full-width></app-product-card-full-width>
            <app-product-card-full-width></app-product-card-full-width>
          </div>
          <div role="tabpanel" class="tab-pane" id="tracking">
            <mat-horizontal-stepper linear #stepper>
              <mat-step>
                <form>
                  <ng-template matStepLabel>Order Placed</ng-template>
                </form>
              </mat-step>
              <mat-step>
                <form>
                  <ng-template matStepLabel>Order Confirmed</ng-template>
                </form>
              </mat-step>
              <mat-step >
                <form>
                  <ng-template matStepLabel>Order Proceed</ng-template>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Order Delivered</ng-template>
              </mat-step>
            </mat-horizontal-stepper>
                      </div>
          <div role="tabpanel" class="tab-pane" id="favourite">
            <div class="row justify-content-around">
              <!-- <div class="col-md-5">
                <app-product-card></app-product-card>
              </div>
              <div class="col-md-5">
                <app-product-card></app-product-card>
              </div>
              <div class="col-md-5">
                <app-product-card></app-product-card>
              </div>
              <div class="col-md-5">
                <app-product-card></app-product-card>
              </div> -->
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="edit">
          <div class="content p-4">
            <div class="title d-flex align-items-center justify-content-between">
              <h3 class="base-color font-weight-bold m-0">
                Edit Account
              </h3>
              <mat-icon color="primary">edit</mat-icon>  
            </div>
            <form action="" id="edit-account-form">
              <div class="d-flex align-items-center justify-content-start">
                <h4 class="font-weight-bold mb-0 mr-2">
                  Name:
                </h4>
                <mat-form-field class="example-form-field">
                  <input matInput type="text" value="Abdullah Ashraf">
                </mat-form-field>                
              </div>

              <div class="d-flex align-items-center justify-content-start">
                <h4 class="font-weight-bold mb-0 mr-2">
                  E-Mail:
                </h4>
                <mat-form-field class="example-form-field">
                  <input matInput type="text" value="Abdullah.Ashraf@gmail.com">
                </mat-form-field>                
              </div>

              <div class="d-flex align-items-center justify-content-start">
                <h4 class="font-weight-bold mb-0 mr-2">
                  Mobile Number:
                </h4>
                <mat-form-field class="example-form-field">
                  <input matInput type="text" value="002 01234567890">
                </mat-form-field>                
              </div>

              <div class="d-flex align-items-center justify-content-start">
                <h4 class="font-weight-bold mb-0 mr-2">
                  Password:
                </h4>
                <mat-form-field class="example-form-field">
                  <input class="rounded-pill form-control m-auto" 
                  matInput id="password" [type]="showPass ? 'password': 'text'"
                  name="password" type="text" value="002 01234567890" required>
                  <button type="button" mat-icon-button matSuffix (click)="showPass = !showPass"
                  [attr.aria-label]="'Hide password'">
                      <mat-icon>{{showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>                
              </div>

            </form>
          </div>
            </div>
        </div>
    </div>
  </div>   
