::ng-deep #product-details-slider .slick-next,
::ng-deep #product-details-slider .slick-prev {
    background-color: var(--base-color) !important;
    color: #fff !important;
    top: 50% !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}
