/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --base-color: #824137
}

a {
    color: unset;
}

a:hover {
    color: unset;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}

.base-color {
    color: var(--base-color) !important;
}

.base-bg {
    background-color: var(--base-color) !important;
}

.border-base {
    border-color: var(--base-color) !important;
}

.pointer {
    cursor: pointer;
}

.hover-invers,
.hover-base-color,
.delete-item .fa-times,
input {
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.hover-invers:hover {
    background-color: #FFF !important;
    color: var(--base-color) !important;
    border: 2px solid var(--base-color) !important;
    /* font-weight: bold; */
}

.hover-base-color:hover {
    color: var(--base-color) !important;
}

.active a {
    color: var(--base-color) !important;
}

a.nav-link {
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    font-size: 1rem;
}

a.nav-link:hover {
    color: var(--base-color) !important;
}


/* navbar styles  */

#navbarDropdown::after {
    display: none !important;
}

.navbar-brand {
    position: absolute;
    height: 100px;
    display: block;
    /* z-index: 1; */
}

@media(max-width: 768px) {
    .navbar-brand {
        position: static;
        height: 100px;
        display: block;
        /* z-index: 1; */
    }
    ul.navbar-nav.ml-auto {
        flex-direction: row;
    }
    ul.navbar-nav.ml-auto li:not(:first-child) {
        margin: 0 2rem;
    }
}

@media(min-width: 768px) and (max-width:992px) {
    .navbar-brand {
        position: static;
        height: 100px;
        display: block;
        /* z-index: 1; */
    }
    #navbarSupportedContent {
        justify-content: space-between;
    }
    #navbarSupportedContent::after {
        content: " ";
        clear: both;
    }
    #navbarSupportedContent form {
        margin: 0 !important;
        float: left;
    }
    #navbarSupportedContent ul {
        float: right;
        margin: 0 !important;
    }
    ul.navbar-nav.ml-auto {
        flex-direction: row;
    }
    ul.navbar-nav.ml-auto li:not(:first-child) {
        margin: 0 2rem;
    }
}

.dropdown-menu {
    right: 0 !important;
    left: revert !important;
}


/* home styles  */

.has-bg {
    background-image: url("../images/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

.has-bg::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.row.position-relative {
    z-index: 1000;
}


/* .product design  */


/* product slider  */

.product-card {
    border: 1px solid #c1c1c1;
}

.product-card .small-txt {
    font-size: 12px;
}

.most-viewed .product-header img {
    width: 170px !important;
    height: 160px;
    display: block;
    margin: 0 auto;
}


/* categories style  */

.categories-slider .slick-next,
.categories-slider .slick-prev {
    position: absolute;
    background-color: var(--base-color) !important;
    color: #fff !important;
    top: 108%;
    right: 3%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.categories-slider .slick-prev {
    left: 90%;
}

.slick-prev,
.slick-next {
    width: 35px;
    height: 35px;
}

.categories-slider .slick-slide {
    height: 400px;
}

.categories .item::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    position: absolute;
}

.categories .item h3 {
    bottom: 0;
    left: 20px;
    z-index: 1000;
}

@media(max-width: 568px) {
    .categories-slider .slick-prev {
        left: 73%;
    }
}


/* winter sale slider  */

.winter {
    background-color: #F5F5F5;
}

.slick-initialized .slick-slide.row {
    display: flex;
    align-items: center;
}

.winter-sale-slider .slick-prev,
.winter-sale-slider .slick-next {
    background-color: var(--base-color) !important;
    color: #fff !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* services  */

.services .col-md-4 .icon-holder {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 30px;
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 15px -2px #c1c1c1;
    text-align: center;
    margin-bottom: 1rem;
}


/* footer  */

footer {
    box-shadow: 0px 4px 5px 10px #e0dbdb59;
    /* padding-top: 30px; */
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid var(--base-color) !important;
}

form.newsletter input {
    border-bottom: 1px solid #333 !important;
}


/* about us page  */

.about-body {
    background-color: #F5F5F5;
}

.has-bg.about {
    background-image: url("../images/PNG\ content/header1.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.our-mission .row .col-12 {
    height: 180px;
}

.faq .card {
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    box-shadow: 2px 2px 15px -2px #c1c1c1;
}

.faq .btn-link {
    color: #333 !important;
}

.faq .btn-link:hover {
    text-decoration: none !important;
}

.faq .btn-link:focus {
    text-decoration: none !important;
    box-shadow: none !important;
}

@media(max-width: 568px) {
    .display-4 {
        font-size: 2.5rem;
    }
    .our-mission p {
        width: 100% !important;
    }
    .faq button {
        padding: 0;
        font-size: revert;
        text-align: initial;
    }
}


/* breadcrumb  */

.breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0de";
    font-weight: 900;
    margin-right: 12px;
    padding: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


/* cart page  */

.cart-holder {
    padding-bottom: 10rem;
}

.cart-titles {
    font-weight: 600;
    font-size: 15px;
}

.cart-items-holder {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart-items-holder::-webkit-scrollbar {
    background: #82413778;
    width: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cart-items-holder::-webkit-scrollbar-thumb {
    background-color: var(--base-color);
    width: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.qty-holder button {
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-item .fa-times:hover {
    color: red;
    cursor: pointer;
}

.vat {
    border-bottom: 2px solid var(--base-color);
}

.cart-details p {
    font-weight: 600;
    font-size: 14px;
}

.cart-details h6 {
    font-size: 19px;
}

.cart-details a {
    font-size: 13px;
}


/* shop page  */


/* pagination */

nav .pagination .page-item .page-link {
    color: var(--base-color);
    box-shadow: 2px 2px 15px -2px #c1c1c1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

nav .pagination .page-item.active .page-link,
nav .pagination .page-item .page-link:hover {
    background-color: var(--base-color) !important;
    border: 0 !important;
    color: #fff;
}

nav .pagination li:first-child .page-link,
nav .pagination li:last-child .page-link {
    box-shadow: none !important;
}


/* login form  */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    font-size: 1.3rem;
    border: 0;
    color: var(--base-color);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: var(--base-color);
    border-color: var(--base-color);
    color: #fff !important;
}

.nav-tabs .nav-link.active:first-child {
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.nav-tabs .nav-link.active:last-child {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-content {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.login-form .forget-password-holder a {
    color: #6c757d !important;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.login-form .forget-password-holder a:hover {
    color: var(--base-color) !important;
}
